.editDialog-content{
  margin-top: 20px;
  overflow-y: scroll;
  height: 230px;
}

.editDialogTextEdit{
  width: 200px;
  margin-right: 20px;
}

#newValueBtn{
  background-color: lightblue;
}

.blackText{
  color: black !important;
}
