
/* Draggable*/

.drag-border {
    outline: #4286f4 dashed;
}

.drag-handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.drag-handle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
    outline: #3c763d dashed !important; 
    margin: 2px;
}

.drag-over-border {
    outline: #fbbc05 dashed !important;
    margin: 2px;
}

.chips{
     animation-duration: 0.5s !important;
}
.chips:hover{
    cursor: pointer;
}

.custom-dialog button{
  color:blue;
}

.wrapper{
    overflow: hidden !important;
}
.boxes{
  width: 500px;
  float: left;
  margin: 20px;
  height: 700px;
  overflow: scroll;
  padding-top: 0;
  padding-left: 10px;
  padding-bottom: 10px;
}

#displayzone{
    overflow: visible !important;
}

.codeArea{
  overflow: scroll;
}

.relative{
  position:relative;
}
.detailChip{
  position: absolute;
  right: 0;
  bottom: 0;
  height:250px;
  width: 200px;
  background: black;
  color:white;
  border-radius: 3px;
  padding: 7px;
  opacity: 0.5;
  display: none;
  transition: ease-out;
}

#controlPanel{
    overflow: show;
    position: absolute;
    height: 185px;
    top:520px;
    width: 500px;
}

#chipSpace{
    height: 500px;
    padding: 10px;
    overflow:scroll !important;
}

#chipSpace mdl-chip{
    margin: 5px;
}

#addchipbtn{
    position: absolute;
    bottom: 20px;
    right: 20px;
}


.arrow_box {
    position: absolute;
    right:0;
    padding: 10px;
    bottom: 115px;
    width: 300px;
    height: 150px;
	background: #ffffff;
    border: 2px solid #8bc34a;
    animation-duration: 0.6s !important;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 85%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(202, 234, 255, 0);
	border-top-color: #8bc34a;
	border-width: 33px;
	margin-left: -33px;
}

#addChipTitle{
    margin: 10px 0 10px 0;
}

.blackText{
    color: black !important;
}